@use 'style-base';

@mixin dark-theme {
  $nav-bg: #444;
  $nav-txt: #9dad7f;
  $bg-clr: #000000;
  $bg-clr-2: #2d3029;

  $brdr: #abb698;

  $shadow-clr: #535353;

  @include style-base.base-styles($nav-bg, $nav-txt, $bg-clr, $bg-clr-2, $brdr, $shadow-clr);
}
