.wrapper {
  .navigation {
    a {
      color: darken($nav-txt, 5%);
      background-color: rgba(darken($nav-bg, 5%), 0.7);
      &:hover {
        color: lighten($nav-txt, 5%);
        background-color: rgba(lighten($nav-bg, 5%), 0.9);
      }
    }
  }

  #footer-links {
    a {
      color: darken($nav-txt, 25%);
      :hover {
        color: $nav-txt;
      }
    }
  }

  .climbing-video-item {
    border: 3px solid darken($brdr, 50%);
    background-color: rgba(lighten($nav-txt, 10%), 0.6);
    color: darken($nav-bg, 15%);

    img {
      border: 2px solid darken($brdr, 50%);
    }
    &:hover {
      border: 3px solid $brdr;
    }
  }

  #webgl-camera-ctrls,
  #action-ctrls {
    .h-item {
      i {
        color: darken($nav-txt, 20%);
        &:hover {
          color: $nav-txt;
        }
      }
    }
    background-color: rgba($nav-bg, 0.3);
    .cbtn {
      color: darken($nav-txt, 15%);
    }
    .prm {
      background-color: rgba($nav-bg, 0.2);
      &:hover {
        color: $nav-txt;
        background-color: rgba($nav-bg, 0.6);
      }
    }
    .scnd {
      background-color: rgba(darken($nav-bg, 20%), 0.3);
      color: darken($nav-txt, 30%);
      &:hover {
        color: $nav-txt;
        background-color: rgba($nav-bg, 0.6);
      }
    }
    .pactive {
      color: $nav-txt;
      background-color: rgba($nav-bg, 0.6);
    }
  }

  .modal-mask {
    background-color: rgba(0, 0, 0, 0.5);
    .modal-wrapper {
      color: darken($nav-txt, 10%);
      .modal-container {
        background-color: darken($nav-bg, 20%);
        .modal-header,
        .modal-footer {
          h2 {
            i {
              &:hover {
                color: lighten($nav-txt, 10%);
              }
            }
          }
        }
      }
    }
  }

  .switch-button-control {
    .switch-button {
      $switch-button-color: darken($nav-txt, 20%);
      $switch-button-border-thickness: 2px;
      border: $switch-button-border-thickness solid $switch-button-color;
      .button {
        border: $switch-button-border-thickness solid $switch-button-color;
        background: $switch-button-color;
      }
      &.enabled {
        background-color: lighten($switch-button-color, 10%);
        border-color: lighten($switch-button-color, 10%);
      }
    }
  }

  .keyboard-container {
    background-color: rgba(lighten($nav-bg, 10%), 0.7);
    .key-row {
      .key {
        background-color: rgba(darken($nav-bg, 20%), 0.4);
        color: darken($nav-txt, 10%);
        &:hover {
          color: $nav-txt;
          background-color: lighten($nav-bg, 5%);
        }
      }
      .key-a {
        color: $nav-txt;
        background-color: lighten($nav-bg, 5%);
      }
      .key-t {
        color: $nav-txt;
        background-color: lighten($nav-bg, 5%);
        height: 70px;
        margin-top: -40px;
      }
    }
  }

  #clue-panel {
    background-color: rgba(lighten($nav-bg, 5%), 0.7);
  }

  #x-head {
    background-color: rgba(lighten($nav-bg, 5%), 0.6);
    border-radius: 0.35em;
    margin-bottom: 0.5em;
    .icn {
      cursor: pointer;
      color: darken($nav-txt, 10%);
      &:hover {
        color: $nav-txt;
      }
    }
  }

  .clues {
    .clue-list {
      ol {
        .active {
          color: #9e738f;
        }
      }
    }
  }

  #current-clue {
    .clue-flex {
      .clue-body {
        margin-left: 7px;
        margin-right: 7px;
      }
      i,
      .clue-body {
        cursor: pointer;
        color: $nav-txt;
        background-color: rgba($nav-bg, 0.7);
        &:hover {
          background-color: rgba(darken($nav-bg, 5%), 0.6);
        }
      }
    }
  }

  .xword-search {
    .VueTables__sort-icon {
      margin-left: 4px;
      width: 6 px;
    }
    tr {
      background-color: darken($nav-bg, 15%);
      cursor: pointer;
    }
    tr:nth-child(even) {
      background-color: darken($nav-bg, 5%);
    }
    tr:hover {
      background-color: lighten($nav-bg, 5%);
    }
    th {
      background-color: $nav-txt;
      color: $nav-bg;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    td,
    th {
      padding: 8px;
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 0.5em;
      }
      td:last-child {
        border-bottom-right-radius: 0.5em;
      }
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      cursor: pointer;
      &:first-child {
        border-top-left-radius: 0.5em;
      }
      &:last-child {
        border-top-right-radius: 0.5em;
      }
    }
  }

  background: radial-gradient($bg-clr-2 6%, transparent 6%), darken($bg-clr, 2%);
  color: $nav-txt;
}
